@font-face {
  font-family: "handwritten";
  src:
    url("/assets/fonts/handwritten.ttf");
}

/* -------------------- */

@font-face {
    font-family: "bm_germara12";
    src:
      url("/games/dotdashdot/bmgermar.woff2") format("woff2"),
      url("/games/dotdashdot/bmgermar.woff") format("woff");
}

/* -------------------- */

:root {
  --main-color: white;
  --main-bg-color: black;
  --sub1-color: gray;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  padding: 50px;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

#title {
  width: 90%;
  margin-bottom: 50px;
  max-width: 1000px;
}

.home {
  text-align: center;
  font-family: "handwritten", sans-serif;
  white-space: nowrap;
  overflow: auto;
}

footer {
  margin-top: 50px;
  text-align: center;
}

footer img {
  width: 250px;
  width: 25%;
  min-width: 200px;
}

/* -------------------- */

.game-icon {
  display: inline-block;
  position: relative;
  width: 80%;
  max-width: 500px;
  margin: 10px;
  border: 1px var(--sub1-color) solid;
  border-radius: 10px;
}

.game-icon a > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.game-icon .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
  color: var(--main-color);
  width: 100%;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  white-space: normal;
}

.game-icon .overlay b {
  font-variant: small-caps;
}

.game-icon .overlay i {
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 5px;
}

.game-icon .overlay, .game-icon .overlay * {
  opacity: 0;
  transition: 0.2s ease-out;
}

.game-icon:hover .overlay, .game-icon:hover .overlay * {
  opacity: 1;
}

/* -------------------- */

.journal-icon {
  font-size: 1.25rem;
  background-color: var(--main-bg-color);
  padding: 10px;
  display: inline-block;
  width: 80%;
  max-width: 500px;
  border: 1px var(--sub1-color) solid;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 0px var(--main-color);
}

.journal-icon:hover {
  color: red;
}

.journal-icon h1, .journal-icon h2 {
  font-variant: small-caps;
  letter-spacing: 5px;
  white-space: normal;
}

.journal-icon h2 {
  color: var(--sub1-color);
  font-weight: normal;
}

.journal-icon img {
  width: 50%;
  height: auto;
}

/* -------------------- */

.download-info {
  margin: 0px 50px;
  padding: 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.download-info a {
  background-color: var(--main-bg-color);
  transition: 100ms ease-out;
  border-radius: 10px;
  padding: 10px;
  font-size: 2.5rem;
  display: inline-block;
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  margin: 5px;
}

.download-info p {
  font-size: 2rem;
}

.download-info a:hover {
  background-color: var(--main-color) !important;
  color: var(--main-bg-color) !important;
}

.download-info #desktop {
  border: 2px darkred solid;
}

.download-info #mobile {
  border: 2px orangered solid;
}

.download-info #soundtrack {
  border: 2px deeppink solid;
}

@media (max-width: 700px) {
  #humblewidget {
    margin-left: -100px;
  }
}
