@font-face {
    font-family: 'ocrbmedium';
    src: url('assets/fonts/ocrb_medium-webfont.woff2') format('woff2'),
         url('assets/fonts/ocrb_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comicoromedium';
    src: url('/assets/fonts/comicoro-webfont.woff2') format('woff2'),
         url('/assets/fonts/comicoro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bm_germara12';
    src: url('/assets/fonts/g/bmgermar-webfont.woff2') format('woff2'),
         url('/assets/fonts/g/bmgermar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* -------------- */

@media (max-width: 1500px) {
    #gamepage-main {
        margin: 50px 0px !important;
    }
    footer {
        margin-top: 10px !important;
    }
    #About img {
        width: 100% !important;
    }
}

@media (max-width: 1000px) {  
    .organic-mainmenu {
        margin: 0px !important;
    }                
    .organic-gameicon img{
        height: auto !important;
        width: 250px !important;
    }
    .organic-gameicon {
        margin: 0px !important;
        text-align: center !important;
        float: none !important;
    }
    #mainlogo {
        transform: none !important;
        width:70% !important;
    }
    .organic-tab button {
        padding: 5px !important;
    }
    .tabcontent {
        padding: 0px !important;
    }
    #subtitle {
        display: none;
    }
    #organic-games-production {
        width: 80% !important;
    }
    .organic-blogpost {
        width: 70% !important;
    }
    .organic-blogpage div, .organic-privacy div {
        padding: 0px !important;
    }
    .organic-blogpage header h1, .organic-privacy header h1 {
        display: none !important;
    }
    .organic-blogpage header img, .organic-privacy header img {
        width: 50% !important;
    }
}

@media (max-width: 700px) {
    #gamepage-main {
		margin: 0px 0px !important;
        padding: 0px !important;
	}
    #soundtrack {
        display: none;
    }
    .organic-buy-game a {
        width: 90% !important;
    }
    .organic-buy-game #soundtrack {
        display: inline-block !important;
    }
    .organic-info-header {
        padding: 10px !important;
    }
    #gamepage body {
        padding: 0px !important;
    }
    #gametitle {
        margin: 0px 0px !important;
        width: 300px !important;
    }
    footer #copyright {
        font-size: 15px !important;
    }
    footer #footer-info {
        display: none;
    }
    #About .organic-aboutlink {
        padding: 10px !important;
        width: 10% !important;
    }
    #About #info {
        width: 90% !important;
    }
}

/* -------------- */

header{
    text-align: left;
    color: white;
    font-size: 30px;
    background-color: rgb(66, 0, 66);
    padding-left: 20px;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 50px;
    display: block;
}

header img{
    height: 15%; 
    width: 15%;
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
}

header h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-family: "Courier New";
}

/* -------------- */

footer {
    color:purple;
    font-size: 20px;
    display: block;
    width: 100%;
}

#mainpage footer {
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}

footer ul img{
    filter: invert(25%);
    width: 15%;
    vertical-align: middle;
    margin-right: 10px;
    transition: filter 100ms;
}

footer ul li:hover img{
    filter: invert(50%);
    width: 15%;
    vertical-align: middle;
    margin-right: 10px;
}

footer ul h1{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(63, 63, 63);
    font-variant: small-caps;
}

footer ul {
    text-align: left;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

footer ul a:link, footer ul a:visited {
    text-decoration: none;
    color:purple;
    transition: color 100ms;
}

footer ul li:hover a{
    color: rgb(189, 0, 189);
}

/* -------------- */

#subtitle {
    color: yellow;
    background-color: red;
    font-family: sans-serif;
    font-style: italic;
    transform: rotate(5deg);
    width: 15%;
    margin-left: 20%;
    padding: 10px;
    border-radius: 10px;
}

.organic-mainmenu {
    border-radius: 25px;
    margin: 50px;
    color: white;
    font-size: 25px;
    position: relative;
}

.organic-mainmenu a {
    color: skyblue;
}

.organic-bgimage {
    background-image: url("/assets/store.jpg");
    background-size:cover;
    background-position: center;
    filter: blur(10px) brightness(30%);
    -webkit-filter: blur(10px) brightness(30%);
    position: absolute;
    z-index: -1;
    padding: 20px;
}

/* -------------- */

.organic-tab {
    overflow: hidden;
    padding-bottom: 25px;
}

.organic-tab button {
    color:white;
    background-color: rgba(0,0,0,0.5);
    font-family: "Georgia";
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 30px;
    border-radius: 10px;
}

.organic-tab button.active {
    background-color: rgb(75, 75, 75);
}

.tabcontent {
    display:none;
    padding: 25px;
}

/* -------------- */

#Blog a {
    text-decoration: none;
}

#About a {
    color: white;
    font-weight: bold;
}

#About h2 {
    font-variant: small-caps;
    margin: 0px;
    margin-bottom: 5px;
    text-shadow: 3px 3px 5px black;
}

#About img {
    filter: invert(100%);
    width: 50%;
    vertical-align: middle;
    transition: filter 100ms;
}

#About .organic-aboutlink {
    background-color: rgb(75, 0, 75);
    width: 5%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 50px;
    transition: 100ms;
    box-shadow: 5px 8px 5px black;
}

#About .organic-aboutlink:hover {
    background-color: rgb(119, 0, 119);
}

/* -------------- */

.organic-gameicon{
    text-decoration: none;
}

.organic-gameicon img{
    transition: 100ms;
    overflow:hidden;
}

.organic-gameicon.left img:hover {
    transform: rotate(-2deg) scale(1.1,1.1);
}

.organic-gameicon.right img:hover {
    transform: rotate(2deg) scale(1.1,1.1);
}

/* -------------- */

.organic-contact {
    text-align: left;
    background-color: rgba(34, 0, 34, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.organic-contact h4 {
    margin:10px;
}

.organic-contact input, textarea{
    background-color: rgba(34, 0, 34,0.5);
    color: white;
}

.organic-contact input[type=text],input[type=email]{
    font-family: "Georgia";
    font-size: 20px;
    padding: 10px;
    margin:5px;
    width:50%;
}

.organic-contact button {
    font-size: 30px;
    font-family: "Georgia";
    background-color: rgb(34, 0, 34);
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 25px;
}
.organic-contact button:active {
    font-size: 30px;
    font-family: "Georgia";
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 25px;
}

.organic-contact textarea {
    font-family: "Georgia";
    font-size: 20px;
    padding: 10px;
    resize: vertical;
    width:80%;
}

/* -------------- */

.organic-blogpost {
    background-color: rgb(34, 0, 34);
    padding: 20px;
    box-shadow: 5px 8px 5px black;
    border-radius: 10px;
    width: 40%;
    margin: 10px;
    transition: 100ms;
    vertical-align: middle;
}

.organic-blogpost a{
    text-decoration: none;
    color: white;
}

.organic-blogpost:hover {
    background-color: rgb(51, 0, 51);
    transition: 100ms;
}

.organic-blogpost h1 {
    font-size: 35px;
    margin:0px;
    margin-top:10px;
    color: white;
}

.organic-blogpost h2 {
    font-size: 20px;
    color: white;
}

.organic-blogpost img {
    width: 50%;
    height: auto;
    margin: 0px;
}

.organic-blogpage {
    text-align: left;
    color:white;
    font-size: 20px;
}

.organic-blogpage div, .organic-privacy div {
    padding-left:100px;
    padding-right:100px;
}

.organic-blogpage #blogcontent, .organic-blogpage #blogcontent * {
    font-family: "Georgia";
    font-size: 20px;
}

.organic-blogpage a{
    color: lightblue;
}

/* -------------- */

.organic-info-header {
    text-align: left;
    padding: 50px;
    margin: 30px;
    border-radius: 10px;
    font-size: 25px;
    display: block;
}

.organic-info-header ul {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
}

.organic-buy-game a {
    background-color: rgb(179, 0, 0);
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 40px;
    box-shadow: 0px 5px 0px black;
    top: 0px;
    transition: 100ms;
    position: relative;
    display: inline-block;
    width: 350px;
    margin-bottom: -50px;
}

.organic-buy-game a:hover {
    background-color: rgb(255, 100, 100) !important;
}

.organic-buy-game a:active {
    top: 5px;
    box-shadow: 0px 0px 0px black;
}

.organic-buy-game a img{
    filter: invert(100%);
    width: 30px;
    margin-right: 10px;
    transition: filter 100ms;
    vertical-align: middle;
}

.organic-buy-game #mobile {
    background-color: rgb(230, 80, 0);
}

.organic-buy-game #soundtrack {
    display: none;
    margin-bottom: 0px;
    background-color: rgb(255, 0, 119);
}